{
  "presets": [
    "es2015-node4"
  ],
  "plugins": [
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }],
    "add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": [
        ["espower", { "embedAst": true }]
      ]
    }
  }
}
