{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "node": 6
      },
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],
  "plugins": [
    "add-module-exports",
    "transform-inline-imports-commonjs"
  ]
}
