{
  "root": true,
  "extends": "simenb-base",
  "overrides": [
    {
      "files": "test.js",
      "env": {
        "jest": true
      }
    },
    {
      "files": "example/**/*",
      "env": {
        "node": true
      },
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          { "devDependencies": true }
        ],
        // Off becuase stuff is generated later
        "import/no-unresolved": "off"
      }
    }
  ],
  "rules": {
    "prettier/prettier": ["error", { "trailingComma": "all" }]
  }
}
