{
  "root": true,
  "extends": [
    "simenb-base",
    "simenb-typescript",
    "prettier/@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "overrides": [
    {
      "files": "**/test.ts",
      "env": {
        "jest": true
      }
    },
    {
      "files": "example/**/*",
      "env": {
        "node": true
      },
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          { "devDependencies": true }
        ],
        // Off becuase stuff is generated later
        "import/no-unresolved": "off",
        // this isnt transpiled
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "rules": {
    "prettier/prettier": ["error", { "trailingComma": "all" }]
  }
}
