lib/

node_modules/
.idea/
typings/
coverage/
*.log
build/
dist/
.eslintcache

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored but nested for e2e directories
**/.yarn/*
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions
**/.pnp.*
