init:
  - git config --global core.autocrlf true

environment:
  matrix:
  - nodejs_version: 4
  - nodejs_version: 6
  - nodejs_version: 7

# Install scripts. (runs after repo cloning)
install:
  - ps: Install-Product node $env:nodejs_version x64
  - npm install -g yarn
  - set PATH=%APPDATA%\npm;%PATH%
  - yarn install

# Post-install test scripts.
test_script:
  # Output useful info for debugging.
  - node --version && yarn --version
  # run tests
  - yarn test

# Don't actually build.
build: off

matrix:
  fast_finish: true
